<div class="container">
    <div class="intro-container">
        <div class="intro-media">
            <iframe width="100%" src="{data.tx_mask_intro_link}?rel=0" title="Samariterbund" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="intro-text">
            <f:if condition="{data.tx_mask_headline}">
                <h2>{data.tx_mask_headline}</h2>
            </f:if>

            <f:if condition="{data.tx_mask_intro_text}">
                <p>{data.tx_mask_intro_text}</p>
            </f:if>

            <button class="samariterbund">Mehr</button>
        </div>
    </div>
</div>
