<f:variable name="gray" value="{data.tx_mask_gray}"/>
<f:if condition="{gray}">
        <div class="gray-background">
</f:if>
<f:if condition="{data.tx_mask_description}">
    {data.tx_mask_description -> f:format.nl2br()}
</f:if>
    <f:if condition="{data.tx_mask_team}">
        <div class="container">
            <div class="team-boxes">
                <f:for each="{data.tx_mask_team}" as="data_item">
                    <div class="team-box">
                        <f:for each="{data_item.tx_mask_image}" as="file">
                            <div class="team-box-container" style="background-image: url({file.publicUrl});">
                        </f:for>
                            <div class="team-info">
                                <f:if condition="{data_item.tx_mask_name}">
                                    <h3 class="h4">{data_item.tx_mask_name}</h3>
                                </f:if>
                                <f:if condition="{data_item.tx_mask_position}">
                                    <p>{data_item.tx_mask_position}</p>
                                </f:if>
                            </div>
                        </div>
                    </div>
                </f:for>
                <div class="team-box">
                        <div class="team-box-container" style="background-image: url('/fileadmin/user_upload/DSC02494.jpeg');">
                    <div class="team-info">
                        <h3 class="h4">Dein Name</h3>
                        <button style="margin-bottom: 15px;" class="samariterbund"><a href="/ueber-uns/jobs">Bewerben</a></button>
                    </div>
                </div>
            </div>
        </div>
    </f:if>
